/* GLOBAL STYLES */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-weight: 400;
    background-color: #FFFFFF;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;

}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
}

button:hover, button:focus {
    background-color: #404BBF;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #2E2F42;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

a:hover, a:focus {
    color: #404BBF;
}


ul {
    list-style-type: none;
}

/* END */




/* MAIN STYLES */


/* HEADER */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-color {
    color: #2e2f42;
    
}

.menu .menu-item .menu-item-link {
    font-weight: 500;
}

/* END */


/* BANNER */

.banner {
    background: #2e2f42;
}

/* END */



/* TEAM */

.team {
    background-color: #f4f4fd;
}

.team .team-list .team-member {
    text-align: center;
    background-color: #ffffff;
}

/* END */


/* PORTFOLIO */

/* END */


/* FOOTER */

.footer {
    background-color: #2E2F42;   
}

.footer .logo {
    color: #f4f4fd;
    
}

.footer .footer-text {
    color: #f4f4fd;
}
/* END */